<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="#">
        <img src="../../../../assets/img/favicon.ico" width="30" height="30" alt="" loading="lazy">
      </a>
    <a class="navbar-brand" href="#">Navbar</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item" routerLinkActive="active">

            <!---Dos maneras de checar el routerlink uno con arreglos y el otro como slash como lo hemos manejado con anterioridad-->

          <a class="nav-link" [routerLink]="['inicio']">Inicio <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item" routerLinkActive="active">
          <a class="nav-link" routerLink="/heroes">Heores</a>
        </li>
        <li class="nav-item" routerLinkActive="active">
            <a  class="nav-link" routerLink="/sobre"> Sobre de</a>
        </li>
      </ul>
      <form onsubmit="return false" class="form-inline my-2 my-lg-0">
        <input class="form-control mr-sm-2" type="text" placeholder="Buscar" aria-label="Buscar" (keyup.enter)="buscando(barra.value)" #barra>
        <button class="btn btn-outline-success my-2 my-sm-0" type="button" (click)="buscando(barra.value)">Buscar</button>
      </form>
    </div>
  </nav>